<ion-view view-title="Vita16 questionnaire">
  <ion-content>
    <form ng-submit="vita16.save()">
      <ion-list>
        <ion-item class="item-divider">
I have enough energy to accomplish all my daily activities        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="vita16.data.body.answers.q01" min="1" max="7" step="1">
            <ul>
              <li>rarely</li>
              <li>sometimes</li>
              <li>occasionally</li>
              <li>regularly</li>
              <li>mostly</li>
              <li>almost always</li>
              <li>always</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
		I'm full of energy        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="vita16.data.body.answers.q02" min="1" max="7" value="1">
            <ul>
             <li>rarely</li>
              <li>sometimes</li>
              <li>occasionally</li>
              <li>regularly</li>
              <li>mostly</li>
              <li>almost always</li>
              <li>always</li>      
             </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
My battery is 100% charged at the beginning of the day        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="vita16.data.body.answers.q03" min="1" max="7" value="1">
            <ul>
              <li>rarely</li>
              <li>sometimes</li>
              <li>occasionally</li>
              <li>regularly</li>
              <li>mostly</li>
              <li>almost always</li>
              <li>always</li>     
                          </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
		After dinner I'm still full of energy
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="vita16.data.body.answers.q04" min="1" max="7" value="1">
            <ul>
              <li>rarely</li>
              <li>sometimes</li>
              <li>occasionally</li>
              <li>regularly</li>
              <li>mostly</li>
              <li>almost always</li>
              <li>always</li>   
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
		I look forward to each new day
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="vita16.data.body.answers.q05" min="1" max="7" value="1">
            <ul>
             <li>rarely</li>
              <li>sometimes</li>
              <li>occasionally</li>
              <li>regularly</li>
              <li>mostly</li>
              <li>almost always</li>
              <li>always</li> 
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
		I make plans for the future
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="vita16.data.body.answers.q06" min="1" max="7" value="1">
            <ul>
            <li>rarely</li>
              <li>sometimes</li>
              <li>occasionally</li>
              <li>regularly</li>
              <li>mostly</li>
              <li>almost always</li>
              <li>always</li> 
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
		If I have a goal, I make immediate plans to achieve this goal
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="vita16.data.body.answers.q07" min="1" max="7" value="1">
            <ul>
            <li>rarely</li>
              <li>sometimes</li>
              <li>occasionally</li>
              <li>regularly</li>
              <li>mostly</li>
              <li>almost always</li>
              <li>always</li> 
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
		Achieving my goals makes me happy
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="vita16.data.body.answers.q08" min="1" max="7" value="1">
            <ul>
             <li>rarely</li>
              <li>sometimes</li>
              <li>occasionally</li>
              <li>regularly</li>
              <li>mostly</li>
              <li>almost always</li>
              <li>always</li> 
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
		I get energy from making future plans
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="vita16.data.body.answers.q09" min="1" max="7" value="1">
            <ul>
             <li>rarely</li>
              <li>sometimes</li>
              <li>occasionally</li>
              <li>regularly</li>
              <li>mostly</li>
              <li>almost always</li>
              <li>always</li> 
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
		I think it's very important to make my goals a reality
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="vita16.data.body.answers.q10" min="1" max="7" value="1">
            <ul>
             <li>rarely</li>
              <li>sometimes</li>
              <li>occasionally</li>
              <li>regularly</li>
              <li>mostly</li>
              <li>almost always</li>
              <li>always</li> 
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
		I can cope well with setbacks
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="vita16.data.body.answers.q11" min="1" max="7" value="1">
            <ul>
             <li>rarely</li>
              <li>sometimes</li>
              <li>occasionally</li>
              <li>regularly</li>
              <li>mostly</li>
              <li>almost always</li>
              <li>always</li> 
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
		I may well find solutions in difficult situations
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="vita16.data.body.answers.q12" min="1" max="7" value="1">
            <ul>
             <li>rarely</li>
              <li>sometimes</li>
              <li>occasionally</li>
              <li>regularly</li>
              <li>mostly</li>
              <li>almost always</li>
              <li>always</li> 
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
        After a difficult period i recover quickly
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="vita16.data.body.answers.q13" min="1" max="7" value="1">
            <ul>
             <li>rarely</li>
              <li>sometimes</li>
              <li>occasionally</li>
              <li>regularly</li>
              <li>mostly</li>
              <li>almost always</li>
              <li>always</li> 
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
		I'm going to start right away with new challenges
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="vita16.data.body.answers.q14" min="1" max="7" value="1">
            <ul>
            <li>rarely</li>
              <li>sometimes</li>
              <li>occasionally</li>
              <li>regularly</li>
              <li>mostly</li>
              <li>almost always</li>
              <li>always</li> 
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
		Through my experience I feel stronger in difficult times
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="vita16.data.body.answers.q15" min="1" max="7" value="1">
            <ul>
            <li>rarely</li>
              <li>sometimes</li>
              <li>occasionally</li>
              <li>regularly</li>
              <li>mostly</li>
              <li>almost always</li>
              <li>always</li> 
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
		Every experience in life makes me stronger
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="vita16.data.body.answers.q16" min="1" max="7" value="1">
            <ul>
             <li>rarely</li>
              <li>sometimes</li>
              <li>occasionally</li>
              <li>regularly</li>
              <li>mostly</li>
              <li>almost always</li>
              <li>always</li> 
            </ul>
          </div>
        </ion-item>
      </ion-list>
      <p class="padding">
        <button type="submit" class="button button-block button-ssh">
          Save
        </button>
      </p>
    </form>
  </ion-content>
</ion-view>
