<ion-view view-title="Algemene metingen">
  <ion-content>
    <form ng-submit="personal.save()">
      <ion-list>
        <ion-item class="item-input">
          <div class="input-label">
            Day of birth
          </div>
          <input type="date" ng-model="personal.data.body.dob" placeholder="Geboortedatum"/>
        </ion-item>
        <ion-item class="item-input item-select">
          <div class="input-label">
            Gender
          </div>
          <select ng-model="personal.data.body.gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="unknown">Unkown</option>
          </select>
        </ion-item>
        <ion-item class="item-input">
          <div class="input-label">
            Length
          </div>
          <input type="number" ng-model="personal.data.body.height" step="any" placeholder="Lengte in m"/>
        </ion-item>
      </ion-list>
      <p class="padding">
        <button type="submit" class="button button-block">
          Save
        </button>
      </p>
    </form>
  </ion-content>
</ion-view>
