<ion-view view-title="Groente en Fruit vragenlijst">
  <ion-content ng-show="ema.baselineAnswered==false">
    <ion-list>
      <ion-item style="font-style: italic">
        Onderstaande vragen gaan over hoeveel groente en fruit je gemiddeld per week eet. De andere vragen gaanover de hoeveelheid van de afgelopen 24 uur. Doe je ook de carotenoidenmeting (bloedmeting), vul dan hieronder ook je code in. Vul de gegevens in totdat je onderaan bij 'opslaan' bent.
      </ion-item>
      <ion-item class="item-divider">Voer hieronder de code in die bij je kaartje voor bloedanalyse hoort <i class="ion-information-circled" ng-click="showCarotenoidenCodeInformation()"></i>
      </ion-item>
      <ion-item>
          <input type="text" ng-model="ema.data.body.variables.carotenoidecode" required="required">
      </ion-item>
      <ion-item class="item-divider">
        Hoeveel dagen per week eet je fruit?
      </ion-item>
      <ion-item>
        <div class="questionnaire-input-range">
          <input type="range" ng-model="ema.data.body.variables.blfruit" min="0" max="7" step="1">
          <ul>
            <li>0</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
          </ul>
        </div>
      </ion-item>
      <ion-item class="item-divider">
        Op de dagen dat je fruit eet, hoeveel porties eet je dan meestal per dag? <i class="ion-information-circled" ng-click="showFruitPortieInformation()"></i>
      </ion-item>
      <ion-item>
        <div class="questionnaire-input-range">
          <input type="range" ng-model="ema.data.body.variables.blfruitportie" min="0" max="6" step="1">
          <ul>
            <li>0</li>
            <li>0,5</li>
            <li>1</li>
            <li>1,5</li>
            <li>2</li>
            <li>2,5</li>
            <li>>3</li>
          </ul>
        </div>
      </ion-item>
      <ion-item class="item-divider">
        Hoeveel dagen per week eet je groente?
      </ion-item>
      <ion-item>
        <div class="questionnaire-input-range">
          <input type="range" ng-model="ema.data.body.variables.blgroente" min="0" max="7" step="1">
          <ul>
            <li>0</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
          </ul>
        </div>
      </ion-item>
      <ion-item class="item-divider">
        Op de dagen dat je groente eet, hoeveel opscheplepels zijn dat dan meestal? <i class="ion-information-circled" ng-click="showGroenteInformation()"></i>
      </ion-item>
      <ion-item>
        <div class="questionnaire-input-range">
          <input type="range" ng-model="ema.data.body.variables.blgroenteportie" min="0" max="6" step="1">
          <ul>
            <li>0</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>>5</li>
          </ul>
        </div>
      </ion-item>
    </ion-list>
    <button type="button" class="button button-block button-ssh" ng-click="ema.baselineAnswered=true">Door naar de 24 uurs vragenlijst</button>
  </ion-content>
  <ion-content ng-show="ema.baselineAnswered==true">
    <form ng-submit="ema.save()">
      <ion-list>
        <ion-item class="item-divider item-energized">
          Groente en fruit consumptie
        </ion-item>
        <ion-item style="font-style: italic">
          Hieronder zijn een  een aantal vragen over je groente en fruit consumptie.<br/>
          Beantwoord de vragen alstublieft voor de afgelopen 24 uur. Ga door totdat je 'opslaan' kunt klikken onderaan de vragenlijst.
        </ion-item>
        <ion-item class="item-divider">
          Hoeveel stuks fruit heb je de afgelopen 24 uur gegeten?
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.fruit" min="1" max="7" step="1">
            <ul>
              <li>0</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>>5</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
          Hoeveel glazen vers geperst vruchtensap/smoothies heb je de afgelopen 24 uur gedronken <i class="ion-information-circled" ng-click="showSapInformation()"></i>
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.sap" min="1" max="7" step="1">
            <ul>
              <li>0</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>>5</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
          Hoeveel opscheplepels groente, sla of rauwkost heb je de afgelopen 24 uur gegeten? <i class="ion-information-circled" ng-click="showGroenteInformation()"></i>
        </ion-item>
        <ion-item style="font-style: italic">
          Gekookte/gebakken groenten</ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.groenten" min="1" max="7" step="1">
            <ul>
              <li>0</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>>5</li>
            </ul>
          </div>
        </ion-item>
        <ion-item style="font-style: italic">
          Sla/rauwkost</ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.sla" min="1" max="7" step="1">
            <ul>
              <li>0</li>
              <li>1 </li>
              <li>2 </li>
              <li>3 </li>
              <li>4 </li>
              <li>5 </li>
              <li>>5</li>
            </ul>
          </div>
        </ion-item>

      <ion-item class="item-divider item-energized">
          Bewegen
        </ion-item>

        <ion-item class="item-divider">
          Hoeveel minuten ben je de afgelopen 24 uur fysiek actief geweest (wandelen, fietsen, sporten etc)?
                  </ion-item>
        <ion-item style="font-style: italic">
          Ik ben {{ema.data.body.answers.activiteit -1}} minuten actief geweest</ion-item>
        <ion-item>
          <ion-item>
            <div class="questionnaire-input-range">

              <input type="range" ng-model="ema.data.body.answers.activiteit" min="1" max="300">
              <ul>
                <li>0</li>
                <li>50</li>
                <li>100</li>
                <li>150</li>
                <li>200</li>
                <li>250</li>
                <li>300</li>

              </ul>
            </div>
          </ion-item>
        </ion-item>

         <ion-item class="item-divider item-energized">
          Stemming/welzijn
        </ion-item>
         <ion-item class="item-divider">
          Geef op een schaal van 0 (totaal niet) tot 100 (heel erg) aan in hoeverre je geïrriteerd, moe etc bent. Standaard staan de waardes op 0
                  </ion-item>
        <ion-item style="font-style: italic">
        
        <ion-item style="font-style: italic">
          Geïrriteerd  {{ema.data.body.answers.geirriteerd -1}}</ion-item>
        <ion-item>
          <ion-item>
            <div class="questionnaire-input-range">
              <input type="range" ng-model="ema.data.body.answers.geirriteerd" min="1" max="101">
              <ul>
                <li>0</li>
                <li>25</li>
                <li>50</li>
                <li>75</li>
                <li>100</li>
              </ul>
            </div>
          </ion-item>
        </ion-item>

        <ion-item style="font-style: italic">
          Moe   {{ema.data.body.answers.moe -1}}</ion-item>
        <ion-item>
          <ion-item>
            <div class="questionnaire-input-range">
              <input type="range" ng-model="ema.data.body.answers.moe" min="1" max="101">
              <ul>
                <li>0</li>
                <li>25</li>
                <li>50</li>
                <li>75</li>
                <li>100</li>
              </ul>
            </div>
          </ion-item>
        </ion-item>

        <ion-item style="font-style: italic">
          Ontspannen  {{ema.data.body.answers.ontspannen -1}}</ion-item>
        <ion-item>
          <ion-item>
            <div class="questionnaire-input-range">
              <input type="range" ng-model="ema.data.body.answers.ontspannen" min="1" max="101">
              <ul>
                <li>0</li>
                <li>25</li>
                <li>50</li>
                <li>75</li>
                <li>100</li>
              </ul>
            </div>
          </ion-item>
        </ion-item>

        <ion-item style="font-style: italic">
          Energiek  {{ema.data.body.answers.energiek -1}}</ion-item>
        <ion-item>
          <ion-item>
            <div class="questionnaire-input-range">
              <input type="range" ng-model="ema.data.body.answers.energiek" min="1" max="101">
              <ul>
                <li>0</li>
                <li>25</li>
                <li>50</li>
                <li>75</li>
                <li>100</li>
              </ul>
            </div>
          </ion-item>
        </ion-item>

        <ion-item style="font-style: italic">
          Gelukkig  {{ema.data.body.answers.gelukkig -1}}</ion-item>
        <ion-item>
          <ion-item>
            <div class="questionnaire-input-range">
              <input type="range" ng-model="ema.data.body.answers.gelukkig" min="1" max="101">
              <ul>
                <li>0</li>
                <li>25</li>
                <li>50</li>
                <li>75</li>
                <li>100</li>
              </ul>
            </div>
          </ion-item>
        </ion-item>

        <ion-item style="font-style: italic">
          Tevreden  {{ema.data.body.answers.tevreden -1}}</ion-item>
        <ion-item>
          <ion-item>
            <div class="questionnaire-input-range">
              <input type="range" ng-model="ema.data.body.answers.tevreden" min="1" max="101">
              <ul>
                <li>0</li>
                <li>25</li>
                <li>50</li>
                <li>75</li>
                <li>100</li>
              </ul>
            </div>
          </ion-item>
        </ion-item>

        <ion-item style="font-style: italic">
          Zin in het leven  {{ema.data.body.answers.leven -1}}</ion-item>
        <ion-item>
          <ion-item>
            <div class="questionnaire-input-range">
              <input type="range" ng-model="ema.data.body.answers.leven" min="1" max="101">
              <ul>
                <li>0</li>
                <li>25</li>
                <li>50</li>
                <li>75</li>
                <li>100</li>
              </ul>
            </div>
          </ion-item>
        </ion-item>

        <ion-item style="font-style: italic">
          Hongerig   {{ema.data.body.answers.hongerig -1}}</ion-item>
        <ion-item>
          <ion-item>
            <div class="questionnaire-input-range">
              <input type="range" ng-model="ema.data.body.answers.hongerig" min="1" max="101">
              <ul>
                <li>0</li>
                <li>25</li>
                <li>50</li>
                <li>75</li>
                <li>100</li>
              </ul>
            </div>
          </ion-item>
        </ion-item>

        <p class="padding">
          <button type="submit" class="button button-block button-ssh">
            Opslaan
          </button>
        </p>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
