<ion-view view-title="Groente en Fruit vragenlijst">
  <ion-content>
    <form ng-submit="ema.save()">
      <ion-list>
        <ion-item class="item-divider item-energized">
          Fruit/Groente consumptie
        </ion-item>
        <ion-item style="font-style: italic">
          Eerst ziet u een aantal vragen over uw groente en fruit consumptie.<br/>
          Beantwoord de vragen alstublieft voor de afgelopen 24 uur, dus tussen het huidige tijdstip en het tijdstip precies een dag geleden.
        </ion-item>
        <ion-item class="item-divider">
          Hoeveel stuks fruit heb je de afgelopen 24 uur gegeten? <i class="ion-information-circled" ng-click="showTarweInformation()"></i>
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.fruit" min="1" max="7" step="1">
            <ul>
              <li>Geen</li>
              <li>1 stuk</li>
              <li>2 stuks</li>
              <li>3 stuks</li>
              <li>4 stuks</li>
              <li>5 stuks</li>
              <li>meer dan 5 stuks</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
          Hoeveel glazen vruchtensap (vers geperst of uit pak) heb je de afgelopen 24 uur gedronken <i class="ion-information-circled" ng-click="showZuivelInformation()"></i>
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.sap" min="1" max="7" step="1">
            <ul>
              <li>Geen</li>
              <li>1 glas</li>
              <li>2 glazen</li>
              <li>3 glazen</li>
              <li>4 glazen</li>
              <li>5 glazen</li>
              <li>meer dan 5 glazen</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
          Hoeveel opscheplepels groente, sla of rauwkost heb je de afgelopen 24 uur gegeten? Een opscheplepel is ongeveer 50 gram <i class="ion-information-circled" ng-click="showVetInformation()"></i>
        </ion-item>
         <ion-item style="font-style: italic">
          Gekookte/gebakken groenten</ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.groenten" min="1" max="7" step="1">
            <ul>
              <li>minder dan 1</li>
              <li>1 opscheplepel</li>
              <li>2 opscheplepels</li>
              <li>3 opscheplepels</li>
              <li>4 opscheplepels</li>
              <li>5 opscheplepels</li>
              <li>meer dan 5 opscheplepels</li>
            </ul>
          </div>
        </ion-item>
          <ion-item style="font-style: italic">
          Sla/rauwkost</ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.sla" min="1" max="7" step="1">
            <ul>
              <li>minder dan 1</li>
              <li>1 opscheplepel</li>
              <li>2 opscheplepels</li>
              <li>3 opscheplepels</li>
              <li>4 opscheplepels</li>
              <li>5 opscheplepels</li>
              <li>meer dan 5 opscheplepels</li>
            </ul>
          </div>
        </ion-item>
       
        <ion-item class="item-divider item-energized">
          Snack consumptie
        </ion-item>
         <ion-item class="item-divider">
          Hoeveel warme (bijv. patat) of koude snack (bijv. chips) heb je de afgelopen 24 uur gegeten?  <i class="ion-information-circled" ng-click="showKnoflookInformation()"></i>
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.snack" min="1" max="6" step="1">
            <ul>
              <li>0 snacks</li>
              <li>1 snack</li>
              <li>2 snacks</li>
              <li>3 snacks</li>
              <li>4 snacks</li>
              <li>5 of meer snacks</li>
            </ul>
          </div>
        </ion-item>
          <ion-item class="item-divider item-energized">
          Bewegen
        </ion-item>
        
        <ion-item class="item-divider">
          Hoeveel minuten heb je de afgelopen 24 uur gefietst, gewandeld of gesport? <i class="ion-information-circled" ng-click="showKoffieInformation()"></i>
        </ion-item>
         <ion-item style="font-style: italic">
          Wandelen</ion-item>
        <ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.wandelen" min="1" max="300">
            <ul>
              <li>0</li>
              <li>50</li>
              <li>100</li>
              <li>150</li>
              <li>200</li>
              <li>250</li>
              <li>300</li> 
            </ul>
          </div>
        </ion-item>
        </ion-item>
        
         <ion-item style="font-style: italic">
          Fietsen</ion-item>
        <ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.fietsen" min="1" max="300">
            <ul>
              <li>0</li>
              <li>50</li>
              <li>100</li>
              <li>150</li>
              <li>200</li>
              <li>250</li>
              <li>300</li> 
            </ul>
          </div>
        </ion-item>
        </ion-item>
       
         <ion-item style="font-style: italic">
          Sporten</ion-item>
        <ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.sporten" min="1" max="300">
            <ul>
              <li>0</li>
              <li>50</li>
              <li>100</li>
              <li>150</li>
              <li>200</li>
              <li>250</li>
              <li>300</li> 
            </ul>
          </div>
        </ion-item>
        </ion-item>
        
         </ion-item>
          <ion-item class="item-divider item-energized">
          Stemming/welzijn
        </ion-item>
        
        <ion-item class="item-divider">
          Ik voel me ......? (0 helemaal niet, 100 heel erg) <i class="ion-information-circled" ng-click="showKoffieInformation()"></i>
        </ion-item>
         <ion-item style="font-style: italic">
          Vrolijk</ion-item>
        <ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.vrolijk" min="1" max="100">
            <ul>
              <li>0</li>
              <li>25</li>
              <li>50</li>
              <li>75</li>
              <li>100</li>
            </ul>
          </div>
        </ion-item>
        </ion-item>
        
         <ion-item style="font-style: italic">
          Geïrriteerd</ion-item>
        <ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.geirriteerd" min="1" max="300">
            <ul>
              <li>0</li>
              <li>25</li>
              <li>50</li>
              <li>75</li>
              <li>100</li>
            </ul>
          </div>
        </ion-item>
        </ion-item>
       
         <ion-item style="font-style: italic">
          Moe</ion-item>
        <ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.moe" min="1" max="300">
            <ul>
             <li>0</li>
              <li>25</li>
              <li>50</li>
              <li>75</li>
              <li>100</li>
           </ul>
          </div>
        </ion-item>
        </ion-item>

        <ion-item style="font-style: italic">
          Gestrest</ion-item>
        <ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.gestrest" min="1" max="300">
            <ul>
             <li>0</li>
              <li>25</li>
              <li>50</li>
              <li>75</li>
              <li>100</li>
            </ul>
          </div>
        </ion-item>
        </ion-item>

        <ion-item style="font-style: italic">
          Ontspannen</ion-item>
        <ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.ontspannen" min="1" max="300">
            <ul>
              <li>0</li>
              <li>25</li>
              <li>50</li>
              <li>75</li>
              <li>100</li>
            </ul>
          </div>
        </ion-item>
        </ion-item>

        <ion-item style="font-style: italic">
          Energiek</ion-item>
        <ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.energiek" min="1" max="300">
            <ul>
             <li>0</li>
              <li>25</li>
              <li>50</li>
              <li>75</li>
              <li>100</li>
            </ul>
          </div>
        </ion-item>
        </ion-item>

		<ion-item style="font-style: italic">
          Gelukkig</ion-item>
        <ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.gelukkig" min="1" max="300">
            <ul>
             <li>0</li>
              <li>25</li>
              <li>50</li>
              <li>75</li>
              <li>100</li>
            </ul>
          </div>
        </ion-item>
        </ion-item>

		<ion-item style="font-style: italic">
          Tevreden</ion-item>
        <ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.tevreden" min="1" max="300">
            <ul>
             <li>0</li>
              <li>25</li>
              <li>50</li>
              <li>75</li>
              <li>100</li>
            </ul>
          </div>
        </ion-item>
        </ion-item>

		<ion-item style="font-style: italic">
          Geïnteresseerd in het leven</ion-item>
        <ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.leven" min="1" max="300">
            <ul>
              <li>0</li>
              <li>25</li>
              <li>50</li>
              <li>75</li>
              <li>100</li>
            </ul>
          </div>
        </ion-item>
        </ion-item>

		<ion-item style="font-style: italic">
          Hongerig</ion-item>
        <ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="ema.data.body.answers.hongerig" min="1" max="300">
            <ul>
             <li>0</li>
              <li>25</li>
              <li>50</li>
              <li>75</li>
              <li>100</li>
            </ul>
          </div>
        </ion-item>
        </ion-item>

        
        <p class="padding">
        <button type="submit" class="button button-block button-ssh">
          Save
        </button>
      </p>
    </form>
  </ion-content>
</ion-view>
