<ion-view view-title="Sleep quality questionnaire">
  <ion-content>
    <form ng-submit="sleep.save()">
      <ion-list>
        <ion-item class="item-divider">
          At which time did you go to sleep? (UUMM, bv 2209)
        </ion-item>
        <ion-item>
          <input type="number" ng-model="sleep.data.body.answers.q01">
        </ion-item>
        <ion-item class="item-divider">
          How long did it take until you fall asleep? (in minuten)
        </ion-item>
        <ion-item>
          <input type="number" ng-model="sleep.data.body.answers.q02">
        </ion-item>
        <ion-item class="item-divider">
          What time are you awake? (UUMM, bv 0615)
        </ion-item>
        <ion-item>
          <input type="number" ng-model="sleep.data.body.answers.q03">
        </ion-item>
        <ion-item class="item-divider">
          How long did you sleep? (in uren)
        </ion-item>
        <ion-item>
          <input type="number" ng-model="sleep.data.body.answers.q04">
        </ion-item>
        <ion-item class="item-divider">
In the past month, how often have you had trouble sleeping because you could not fall asleep within 30 minutes        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="sleep.data.body.answers.q05" min="0" max="3" value="1">
            <ul>
              <li>never</li>
              <li>less then 1 time a week</li>
              <li>less then 1 or 2 times a week</li>
              <li>3 or more time a week</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
In the past month, how often have you had trouble sleeping because you woke up in the middle of the night or early morning 
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="sleep.data.body.answers.q06" min="0" max="3" value="1">
            <ul>
              <li>never</li>
              <li>less then 1 time a week</li>
              <li>1 of 2 times a week</li>
              <li>3 of times a week</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
In the past month, how often have you had trouble sleeping because you woke up and had to go to the toilet
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="sleep.data.body.answers.q07" min="0" max="3" value="1">
            <ul>
              <li>never</li>
              <li>less then 1 time a week</li>
              <li>1 or 2 times a week</li>
              <li>3 or more times a  week</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
In the past month, how often have you had trouble sleeping because you could not breathe properly
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="sleep.data.body.answers.q08" min="0" max="3" value="1">
            <ul>
              <li>never</li>
              <li>less then 1 time a week</li>
              <li>1 or 2 times a week</li>
              <li>3 or more times a week</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
In the past month, how often have you had trouble sleeping because you had to cough or because of loud snoring
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="sleep.data.body.answers.q09" min="0" max="3" value="1">
            <ul>
             <li>never</li>
              <li>less then 1 time a week</li>
              <li>1 or 2 times a week</li>
              <li>3 or more times a week</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
        In the past month, how often have you had trouble sleeping because you were cold
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="sleep.data.body.answers.q10" min="0" max="3" value="1">
            <ul>
             <li>never</li>
              <li>less then 1 time a week</li>
              <li>1 or 2 times a week</li>
              <li>3 or more times a week</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
        In the past month, how often have you had trouble sleeping because you were warm
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="sleep.data.body.answers.q11" min="0" max="3" value="1">
            <ul>
             <li>never</li>
              <li>less then 1 time a week</li>
              <li>1 or 2 times a week</li>
              <li>3 or more times a week</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
        In the past month, how often have you had trouble sleeping because you had bad dreams
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="sleep.data.body.answers.q12" min="0" max="3" value="1">
            <ul>
             <li>never</li>
              <li>less then 1 time a week</li>
              <li>1 or 2 times a week</li>
              <li>3 or more times a week</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
        In the past month, how often have you had trouble sleeping because you had pain
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="sleep.data.body.answers.q13" min="0" max="3" value="1">
            <ul>
             <li>never</li>
              <li>less then 1 time a week</li>
              <li>1 or 2 times a week</li>
              <li>3 or more times a week</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
        In the past month, how often have you had trouble sleeping for another reason
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="sleep.data.body.answers.q14" min="0" max="3" value="1">
            <ul>
             <li>never</li>
              <li>less then 1 time a week</li>
              <li>1 or 2 times a week</li>
              <li>3 or more times a week</li>            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider" ng-show="sleep.data.body.answers.q14!=0">
		What was the other reason?
        </ion-item>
        <ion-item ng-show="sleep.data.body.answers.q14!=0">
          <input type="text" ng-model="sleep.data.body.answers.q15">
        </ion-item>
        <ion-item class="item-divider">
		How would you rate your sleep quality over the past month?
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="sleep.data.body.answers.q16" min="0" max="3" value="1">
            <ul>
              <li>very good</li>
              <li>good</li>
              <li>bad</li>
              <li>very bad</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
		How often in the past month have you used medication to fall asleep?
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="sleep.data.body.answers.q17" min="0" max="3" value="1">
            <ul>
              <li>never</li>
              <li>less then 1 time a week</li>
              <li>1 or 2 times a week</li>
              <li>3 or more times a week</li> 
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
		How often in the past month, have you had trouble staying awake while driving, eating or during social events?
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="sleep.data.body.answers.q18" min="0" max="3" value="1">
            <ul>
              <li>never</li>
              <li>less then 1 time a week</li>
              <li>1 or 2 times a week</li>
              <li>3 or more times a week</li> 
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
		How often have you had problems in the past month with remaining eager to get things done?
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="sleep.data.body.answers.q19" min="0" max="3" value="1">
            <ul>
              <li>no problem</li>
              <li>small problem</li>
              <li>reasonable problem/li>
              <li>big problem</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
		Do you currently have a bed partner or roommate?        
		</ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="sleep.data.body.answers.q20" min="0" max="3" value="1">
            <ul>
              <li>No</li>
              <li>yes, but in a different room</li>
              <li>Yes, in the same room but in another bed</li>
              <li>Yes, in the same bed</li>
            </ul>
          </div>
        </ion-item>
        <div ng-show="sleep.data.body.answers.q20!=0">
          <ion-item class="item-divider">
		  If you have a roommate or partner, ask him / her how often you snored loudly in the past month
          </ion-item>
          <ion-item>
            <div class="questionnaire-input-range">
              <input type="range" ng-model="sleep.data.body.answers.q21" min="0" max="3" value="1">
              <ul>
                 <li>never</li>
              <li>less then 1 time a week</li>
              <li>1 or 2 times a week</li>
              <li>3 or more times a week</li> 
              </ul>
            </div>
          </ion-item>
          <ion-item class="item-divider">
		  If you have a roommate or partner, ask him/her how much you had your long breathing pauses during sleep in the past month
          </ion-item>
          <ion-item>
            <div class="questionnaire-input-range">
              <input type="range" ng-model="sleep.data.body.answers.q22" min="0" max="3" value="1">
              <ul>
               <li>never</li>
              <li>less then 1 time a week</li>
              <li>1 or 2 times a week</li>
              <li>3 or more times a week</li> 
              </ul>
            </div>
          </ion-item>
          <ion-item class="item-divider">
		  If you have a roommate or partner, ask him/her how often in the past month you suffered from abrupt movements with your legs          </ion-item>
          <ion-item>
            <div class="questionnaire-input-range">
              <input type="range" ng-model="sleep.data.body.answers.q23" min="0" max="3" value="1">
              <ul>
                 <li>never</li>
              <li>less then 1 time a week</li>
              <li>1 or 2 times a week</li>
              <li>3 or more times a week</li> 
              </ul>
            </div>
          </ion-item>
          <ion-item class="item-divider">
		  If you have a roommate or partner, ask him/her how often you were  disoriented or confused in the past month while sleeping
          </ion-item>
          <ion-item>
            <div class="questionnaire-input-range">
              <input type="range" ng-model="sleep.data.body.answers.q24" min="0" max="3" value="1">
              <ul>
                <li>never</li>
              <li>less then 1 time a week</li>
              <li>1 or 2 times a week</li>
              <li>3 or more times a week</li> 
              </ul>
            </div>
          </ion-item>
          <ion-item class="item-divider">
		  If you have a roommate or partner, ask him/her how often in the past month you were in other ways restless while sleeping
          </ion-item>
          <ion-item>
            <div class="questionnaire-input-range">
              <input type="range" ng-model="sleep.data.body.answers.q25" min="0" max="3" value="1">
              <ul>
                <li>never</li>
              <li>less then 1 time a week</li>
              <li>1 or 2 times a week</li>
              <li>3 or more times a week</li> 
              </ul>
            </div>
          </ion-item>
          <ion-item class="item-divider" ng-show="sleep.data.body.answers.q25!=0">
		  What was the other reason?
          </ion-item>
          <ion-item ng-show="sleep.data.body.answers.q25!=0">
            <input type="text" ng-model="sleep.data.body.answers.q26">
          </ion-item>
        </div>
      </ion-list>
      <p class="padding">
        <button type="submit" class="button button-block button-ssh">
          Save
        </button>
      </p>
    </form>
  </ion-content>
</ion-view>
