<ion-view view-title="Darmklachten vragenlijst">
  <ion-content>
    <form ng-submit="darmklachten.save()">
      <ion-list>
        <ion-item class="item-divider" ng-if="darmklachten.data.body.variables.questionnaireCount == 1">
          Geslacht
        </ion-item>
        <ion-item ng-if="darmklachten.data.body.variables.questionnaireCount == 1">
          <select ng-model="darmklachten.data.body.variables.geslacht">
            <option>Man</option>
            <option>Vrouw</option>
            <option>Anders</option>
          </select>
        </ion-item>
        <ion-item class="item-divider item-energized">
          Eerst ziet u een aantal vragen over uw voedingsinname.<br/>
          Beantwoord de vragen alstublieft voor de afgelopen 24 uur, dus tussen het huidige tijdstip en het tijdstip precies een dag geleden.
        </ion-item>
        <ion-item class="item-divider">
          Heeft u gedurende de afgelopen 24 uur tarweproducten geconsumeerd?
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="darmklachten.data.body.answers.q01" min="1" max="4" step="1">
            <ul>
              <li>Nee</li>
              <li>Ja, bij 1 maaltijd</li>
              <li>Ja, bij 2 maaltijden</li>
              <li>Ja, bij 3 maaltijden of meer</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
          Heeft u gedurende de afgelopen 24 uur zuivelproducten geconsumeerd?
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="darmklachten.data.body.answers.q02" min="1" max="4">
            <ul>
              <li>Nee</li>
              <li>Ja, bij 1 maaltijd</li>
              <li>Ja, bij 2 maaltijden</li>
              <li>Ja, bij 3 maaltijden of meer</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
          Heeft u gedurende de afgelopen 24 uur vet voedsel geconsumeerd? <i class="ion-information-circled" ng-click="showVetInformation()"></i>
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="darmklachten.data.body.answers.q03" min="1" max="4">
            <ul>
              <li>Nee</li>
              <li>Ja, bij 1 maaltijd</li>
              <li>Ja, bij 2 maaltijden</li>
              <li>Ja, bij 3 maaltijden of meer</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
          Heeft u gedurende de afgelopen 24 uur knoflook, ui en/of kool geconsumeerd? <i class="ion-information-circled" ng-click="showKnoflookInformation()"></i>
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="darmklachten.data.body.answers.q04" min="1" max="4">
            <ul>
              <li>Nee</li>
              <li>Ja, weinig</li>
              <li>Ja, gemiddeld</li>
              <li>Ja, veel</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
          Heeft u gedurende de afgelopen 24 uur koffie gedronken? <i class="ion-information-circled" ng-click="showKoffieInformation()"></i>
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="darmklachten.data.body.answers.q05" min="1" max="4">
            <ul>
              <li>Nee</li>
              <li>Ja, 1-2 kopjes</li>
              <li>Ja, 3-4 kopjes</li>
              <li>Ja, 5 kopjes of meer</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider" ng-if="darmklachten.data.body.variables.questionnaireCount == 1">
          Wilt u een extra voedingsgroep toevoegen?
        </ion-item>
        <ion-item ng-if="darmklachten.data.body.variables.questionnaireCount == 1">
          <input type="text" ng-model="darmklachten.data.body.variables.voedingsgroep1">
        </ion-item>
        <ion-item class="item-divider" ng-if="darmklachten.data.body.variables.voedingsgroep1">
          Heeft u gedurende de afgelopen 24 uur {{darmklachten.data.body.variables.voedingsgroep1}} geconsumeerd?
        </ion-item>
        <ion-item ng-if="darmklachten.data.body.variables.voedingsgroep1">
          <div class="questionnaire-input-range">
            <input type="range" ng-model="darmklachten.data.body.answers.q06" min="1" max="4">
            <ul>
              <li>Nee</li>
              <li>Ja, weinig</li>
              <li>Ja, gemiddeld</li>
              <li>Ja, veel</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider" ng-if="darmklachten.data.body.variables.questionnaireCount == 1">
          Wilt u nog een extra voedingsgroep toevoegen?
        </ion-item>
        <ion-item ng-if="darmklachten.data.body.variables.questionnaireCount == 1">
          <input type="text" ng-model="darmklachten.data.body.variables.voedingsgroep2">
        </ion-item>
        <ion-item class="item-divider" ng-if="darmklachten.data.body.variables.voedingsgroep2">
          Heeft u gedurende de afgelopen 24 uur {{darmklachten.data.body.variables.voedingsgroep2}} geconsumeerd?
        </ion-item>
        <ion-item ng-if="darmklachten.data.body.variables.voedingsgroep2">
          <div class="questionnaire-input-range">
            <input type="range" ng-model="darmklachten.data.body.answers.q07" min="1" max="4">
            <ul>
              <li>Nee</li>
              <li>Ja, weinig</li>
              <li>Ja, gemiddeld</li>
              <li>Ja, veel</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
          Hoe pittig heeft u de afgelopen 24 uur gegeten?
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input style="width: 92%" type="range" ng-model="darmklachten.data.body.answers.q08" min="0" max="10">
            <ul>
              <li>0</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
            </ul>
            <div style="width: 100%; padding-bottom: 20px">
              <div style="float: left">Zeer mild</div>
              <div style="float: right">Zeer pittig</div>
            </div>
          </div>
        </ion-item>
        <ion-item class="item-divider item-energized">
          Aan de hand van de Bristol Stool Chart kunt u uw ontlasting classificeren.<br/>
          Wanneer u meer dan één keer ontlasting had, vult u dan de gemiddelde vorm van uw ontlasting in.
        </ion-item>
        <ion-item class="item-divider">
          Hoe vaak heeft u ontlasting gehad tijdens de afgelopen 24 uur?
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input type="range" ng-model="darmklachten.data.body.answers.q09" min="1" max="4" step="1">
            <ul>
              <li>Ik heb geen ontlasting gehad</li>
              <li>1 keer</li>
              <li>2 keer</li>
              <li>3 keer of meer</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider">
          Wat was de vorm van uw ontlasting gedurende de afgelopen 24 uur? (gebruik hierbij de afbeelding)
        </ion-item>
        <ion-item>
          <img src="http://msb2.hex.tno.nl/darmklachten/assets/img/bristol_stool_chart_nl.png"/>
          <select ng-model="darmklachten.data.body.answers.q10">
            <option value="1">Type 1</option>
            <option value="2">Type 2</option>
            <option value="3">Type 3</option>
            <option value="4">Type 4</option>
            <option value="5">Type 5</option>
            <option value="6">Type 6</option>
            <option value="7">Type 7</option>
            <option value="8">Ik heb de afgelopen 24 uur geen ontlasting gehad.</option>
          </select>
        </ion-item>
        <ion-item class="item-divider">
          Hoe gestresst was u de afgelopen 24 uur?
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input style="width: 92%" type="range" ng-model="darmklachten.data.body.answers.q11" min="0" max="10">
            <ul>
              <li>0</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
            </ul>
            <div style="width: 100%; padding-bottom: 20px">
              <div style="float: left">Zeer ontspannen</div>
              <div style="float: right">Zeer gestresst</div>
            </div>
          </div>
        </ion-item>
        <ion-item class="item-divider" ng-if="darmklachten.data.body.variables.geslacht!='Man'">
          Bent u momenteel ongesteld?
        </ion-item>
        <ion-item ng-if="darmklachten.data.body.variables.geslacht!='Man'">
          <div class="questionnaire-input-range">
            <input style="width: 70%" type="range" ng-model="darmklachten.data.body.answers.q12" min="1" max="3">
            <ul>
              <li>Ja</li>
              <li>Nee</li>
              <li>Niet van toepassing op mij</li>
            </ul>
          </div>
        </ion-item>
        <ion-item class="item-divider item-energized">
          Tenslotte volgt een aantal vragen waarmee uw klachten tijdens de afgelopen 24 uur in kaart gebracht worden.<br/>
          Geeft u alstublieft per klacht aan in welke mate u er last van heeft gehad.
        </ion-item>
        <ion-item class="item-divider">
          In welke mate heeft u de afgelopen 24 uur last gehad van buikpijn?  <i class="ion-information-circled" ng-click="showBuikpijnInformation()"></i>
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input style="width: 92%" type="range" ng-model="darmklachten.data.body.answers.q13" min="0" max="10">
            <ul>
              <li>0</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
            </ul>
            <div style="width: 100%; padding-bottom: 20px">
              <div style="float: left">Helemaal  geen last</div>
              <div style="float: right">Zeer veel last</div>
            </div>
          </div>
        </ion-item>
        <ion-item class="item-divider">
          In welke mate heeft u de afgelopen 24 uur last gehad van een opgeblazen gevoel? <i class="ion-information-circled" ng-click="showOpgeblazenInformation()"></i>
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input style="width: 92%" type="range" ng-model="darmklachten.data.body.answers.q14" min="0" max="10">
            <ul>
              <li>0</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
            </ul>
            <div style="width: 100%; padding-bottom: 20px">
              <div style="float: left">Helemaal  geen last</div>
              <div style="float: right">Zeer veel last</div>
            </div>
          </div>
        </ion-item>
        <ion-item class="item-divider">
          In welke mate heeft u de afgelopen 24 uur last gehad van een zichtbaar opgezwollen buik? <i class="ion-information-circled" ng-click="showOpgezwollenInformation()"></i>
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input style="width: 92%" type="range" ng-model="darmklachten.data.body.answers.q15" min="0" max="10">
            <ul>
              <li>0</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
            </ul>
            <div style="width: 100%; padding-bottom: 20px">
              <div style="float: left">Helemaal  geen last</div>
              <div style="float: right">Zeer veel last</div>
            </div>
          </div>
        </ion-item>
        <ion-item class="item-divider">
          In welke mate heeft u de afgelopen 24 uur last gehad van winderigheid?
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input style="width: 92%" type="range" ng-model="darmklachten.data.body.answers.q16" min="0" max="10">
            <ul>
              <li>0</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
            </ul>
            <div style="width: 100%; padding-bottom: 20px">
              <div style="float: left">Helemaal  geen last</div>
              <div style="float: right">Zeer veel last</div>
            </div>
          </div>
        </ion-item>
        <ion-item class="item-divider">
          In welke mate heeft u de afgelopen 24 uur last gehad van vermoeidheid?
        </ion-item>
        <ion-item>
          <div class="questionnaire-input-range">
            <input style="width: 92%" type="range" ng-model="darmklachten.data.body.answers.q17" min="0" max="10">
            <ul>
              <li>0</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
            </ul>
            <div style="width: 100%; padding-bottom: 20px">
              <div style="float: left">Helemaal  geen last</div>
              <div style="float: right">Zeer veel last</div>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <p class="padding">
        <button type="submit" class="button button-block button-ssh">
          Save
        </button>
      </p>
    </form>
  </ion-content>
</ion-view>
