<ion-view view-title="Healthcafe">
  <ion-content class="padding initial">
    <div class="app-logo"><img src="assets/img/apple-measure.jpg" /></div>

    <p>
<b>Welcome to the TNO HealthCafé App. </b> </p>
    <p>
This App can be used to measure several aspects of your health. This app is provided as a service with the Health Café; it is up to you to decide how long you want to use this App.
The App can store your personal health data, show graphs of your data and provide you with feedback and lifestyle advice to improve your health. 

All the data that you enter into the App will be stored locally on your smartphone and will not be shared with third parties. The data will be removed from your smartphone once you empty your cache. In the future, it might be possible to share your data with other services, friends or communities. Also, an option will be added that allows you to store your data anonymously on an encrypted, secure server. This way, you will not lose your data once you empty your cache or switch to a new smartphone.  
 </p>
 <p>
<b>How does it work?</b></p>
    <p>
You can add several types of health data, including blood pressure, cholesterol, glucose, body weight, circumferences and BMI. This list will be expanded in the future.
It is also possible to add remarks, for instance at the moment you started with an intervention ot improve your health. These remarks will also appear on your timeline. This way, you can easily look back to see if your intervention was successful. 

Via the menu, you can also choose to look into the data of one specific measurement, like blood pressure. If you click on the measurement you are interested in, all the blood pressure data that you added will be shown in a graph. By clicking on the ‘+’ in the upper right corner of the screen you can add more data; by clicking on the ‘i’ you can get more information on blood pressure. 

</p>

<p>
Do you want to start adding your health data? Then click on 'add general info' or ‘to the data’ below. 
</p>

    <div class="row">
      <div class="col">
        <a ng-click="intro.resetNav()" href="#/app/timeline" nav-clear class="button button-block" ng-if="!intro.personal_data_required">To the data</a>
        <a ng-click="intro.resetNav()" href="#/app/personal_data" nav-clear class="button button-block" ng-if="intro.personal_data_required">Add general info</a>
      </div>
    </div>
</ion-view>
